
// Color Schemas

$theme-ffffff:    #ffffff;
$theme-eceff6:    #eceff6;
$theme-da203e:      #da203e;
$theme-1fb8a6:      #1fb8a6;
$theme-242f81:      #242f81;
$theme-888888:      #888888;
$theme-555555:      #555555;
$theme-222222:      #222222;
$theme-000000:    #000000;

