@font-face {
  font-family: 'FLight';
  src: url("sitefont/ParaType-FuturaPTLight.ttf") format("truetype");
}

@font-face {
  font-family: 'FMedium';
  src: url("sitefont/ParaType-FuturaPTMedium.ttf") format("truetype");
}

@font-face {
  font-family: 'Resavska';
  src: url("sitefont/ResavskaBG.woff");
}

/* line 17, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

/* line 26, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
body, html {
  height: 100%;
}

/* line 30, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
body {
  background: #ffffff;
  color: #555555;
  font-size: 16px;
  font-family: 'FMedium';
  font-weight: 400;
  line-height: 1.4;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 43, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.ff-serif {
  font-family: 'Resavska';
}

/* line 46, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.ff-light {
  font-family: 'FLight';
}

/* line 49, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.ff-medium {
  font-family: 'FMedium';
}

/* line 52, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
ul {
  list-style: none;
}

/* line 55, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
ul li a {
  text-decoration: none;
}

/* line 58, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
ul li a:hover {
  text-decoration: none;
}

/* line 64, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
ul.floated-list {
  margin-bottom: 0;
}

/* line 66, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
ul.floated-list li {
  float: left;
  display: block;
}

/* line 69, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
ul.floated-list li a {
  display: block;
}

/* line 72, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
ul.floated-list li ul {
  margin-bottom: 0;
}

/* line 74, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
ul.floated-list li ul li {
  float: none;
}

/* line 81, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
a {
  color: inherit;
  -webkit-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

/* line 84, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
a:hover {
  opacity: 0.7;
}

/* line 88, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
button[type="submit"],
input[type="submit"] {
  -webkit-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

/* line 91, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
button[type="submit"]:hover,
input[type="submit"]:hover {
  opacity: 0.7;
}

/* line 95, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
img {
  border: 0;
}

/* line 99, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222;
  line-height: 1.1;
}

/* line 104, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
h1 {
  font-size: 26px;
}

/* line 108, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
h2 {
  font-size: 24px;
}

/* line 112, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
h3 {
  font-size: 22px;
}

/* line 116, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
h4 {
  font-size: 20px;
}

/* line 120, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
h5 {
  font-size: 18px;
}

/* line 124, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
h6 {
  font-size: 16px;
}

/* line 128, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: inherit;
}

/* line 131, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
label {
  font-weight: normal;
}

/* line 134, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.font8px {
  font-size: 8px;
}

/* line 137, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.font9px {
  font-size: 9px;
}

/* line 140, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.font10px {
  font-size: 10px;
}

/* line 143, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.font11px {
  font-size: 11px;
}

/* line 146, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.font12px {
  font-size: 12px;
}

/* line 149, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.font13px {
  font-size: 13px;
}

/* line 152, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.font14px {
  font-size: 14px;
}

/* line 155, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.font15px {
  font-size: 15px;
}

/* line 158, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.font16px {
  font-size: 16px;
}

/* line 161, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.bdrs0 {
  border-radius: 0;
}

/* line 164, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.bdrs5px {
  border-radius: 5px;
}

/* line 167, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.bdrs8px {
  border-radius: 8px;
}

/* line 170, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.bdrs10px {
  border-radius: 10px;
}

/* line 173, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.icon-text {
  margin-right: 8px;
}

/* line 175, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.icon-text.sm {
  margin-right: 4px;
}

/* line 179, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.weight-200 {
  font-weight: 200;
}

/* line 182, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.weight-300 {
  font-weight: 300;
}

/* line 185, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.weight-400 {
  font-weight: 400;
}

/* line 188, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.weight-600 {
  font-weight: 600;
}

/* line 191, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.weight-700 {
  font-weight: 700;
}

/* line 194, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.weight-900 {
  font-weight: 900;
}

/* line 197, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.font-style-italic {
  font-style: italic;
}

/* line 200, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.font-style-normal {
  font-style: normal;
}

/* line 203, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.clear {
  clear: both;
}

/* line 206, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

/* line 211, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.clearfix:after {
  clear: both;
}

/* line 214, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.inline {
  display: inline;
}

/* line 217, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.block {
  display: block;
}

/* line 220, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.inline-block {
  display: inline-block;
}

/* line 223, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.lowercase {
  text-transform: lowercase;
}

/* line 226, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 229, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 232, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.div-center {
  display: table;
  margin: 0 auto;
}

/* line 236, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.fullHeight {
  height: 100%;
}

/* line 239, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.fullWidth {
  width: 100%;
}

/* line 242, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.mytable {
  display: table;
  width: 100%;
  height: 100%;
}

/* line 247, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.fixed-table-layout {
  table-layout: fixed;
}

/* line 250, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.table-cell {
  display: table-cell;
}

/* line 253, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.va-middle {
  vertical-align: middle;
}

/* line 256, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.va-top {
  vertical-align: top;
}

/* line 259, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.va-bottom {
  vertical-align: bottom;
}

/* line 262, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.static {
  position: static;
}

/* line 265, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.relative {
  position: relative;
}

/* line 268, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.absolute {
  position: absolute;
}

/* line 271, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.fixed {
  position: fixed;
}

/* line 274, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.cover {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 277, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.arboria-bold {
  font-family: 'arboria-bold';
}

/* line 280, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.circle {
  border-radius: 50%;
}

/* line 283, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.m0 {
  margin: 0 !important;
}

/* line 286, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.mb-0 {
  margin-bottom: 0 !important;
}

/* line 289, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.mb-10 {
  margin-bottom: 10px !important;
}

/* line 292, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.mb-20 {
  margin-bottom: 20px !important;
}

/* line 295, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.mb-30 {
  margin-bottom: 30px !important;
}

/* line 298, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.mb-40 {
  margin-bottom: 40px !important;
}

/* line 301, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.mb-50 {
  margin-bottom: 50px !important;
}

/* line 304, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.mt-0 {
  margin-top: 0 !important;
}

/* line 307, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.mt-10 {
  margin-top: 10px !important;
}

/* line 310, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.mt-20 {
  margin-top: 20px !important;
}

/* line 313, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.mt-30 {
  margin-top: 30px !important;
}

/* line 316, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.mt-40 {
  margin-top: 40px !important;
}

/* line 319, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.mt-50 {
  margin-top: 50px !important;
}

/* line 322, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* line 326, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.my-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

/* line 330, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.my-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

/* line 334, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.my-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

/* line 338, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.my-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

/* line 342, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.my-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

/* line 346, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.pb-0 {
  padding-bottom: 0 !important;
}

/* line 349, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.pb-10 {
  padding-bottom: 10px !important;
}

/* line 352, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.pb-20 {
  padding-bottom: 20px !important;
}

/* line 355, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.pb-30 {
  padding-bottom: 30px !important;
}

/* line 358, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.pb-40 {
  padding-bottom: 40px !important;
}

/* line 361, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.pb-50 {
  padding-bottom: 50px !important;
}

/* line 364, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.pt-0 {
  padding-top: 0 !important;
}

/* line 367, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.pt-10 {
  padding-top: 10px !important;
}

/* line 370, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.pt-20 {
  padding-top: 20px !important;
}

/* line 373, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.pt-30 {
  padding-top: 30px !important;
}

/* line 376, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.pt-40 {
  padding-top: 40px !important;
}

/* line 379, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.pt-50 {
  padding-top: 50px !important;
}

/* line 382, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* line 386, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.py-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

/* line 390, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.py-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

/* line 394, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.py-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

/* line 398, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.py-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

/* line 402, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.py-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

/* line 406, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.fill {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 411, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 420, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.col-xs-20 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  /* line 425, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
  .col-sm-20 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  /* line 431, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
  .col-md-20 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  /* line 437, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
  .col-lg-20 {
    width: 20%;
    float: left;
  }
}

/* line 443, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.transparent {
  background-color: transparent !important;
}

/* line 447, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.fitVid {
  position: relative;
  padding-bottom: 56%;
  height: 0;
}

/* line 451, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.fitVid iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 461, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.row45 {
  margin-left: -45px;
  margin-right: -45px;
}

/* line 464, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.row45 .column {
  padding-left: 45px;
  padding-right: 45px;
}

/* line 469, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.row25 {
  margin-left: -25px;
  margin-right: -25px;
}

/* line 472, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.row25 .column {
  padding-left: 25px;
  padding-right: 25px;
}

/* line 477, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.row20 {
  margin-left: -20px;
  margin-right: -20px;
}

/* line 480, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.row20 .column {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 485, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.row10 {
  margin-left: -10px;
  margin-right: -10px;
}

/* line 488, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.row10 .column {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 493, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.row7 {
  margin-left: -7px;
  margin-right: -7px;
}

/* line 496, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.row7 .column {
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 14px;
}

/* line 502, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.row5 {
  margin-left: -5px;
  margin-right: -5px;
}

/* line 505, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.row5 .column {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 511, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.form-control {
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.055);
}

/* line 514, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.form-control[type="button"],
.form-control[type="submit"],
.form-control[type="reset"] {
  -webkit-appearance: none;
  cursor: pointer;
}

/* line 520, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.form-control::-moz-placeholder {
  color: #838383;
  opacity: 1;
}

/* line 524, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.form-control:-ms-input-placeholder {
  color: #838383;
}

/* line 527, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.form-control::-webkit-input-placeholder {
  color: #838383;
}

/* line 530, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.form-control:focus {
  box-shadow: none;
}

/* line 536, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.header {
  padding: 20px 0;
  background-color: #242f81;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 9;
  border-bottom: 1px solid #6c73a9;
}

/* line 545, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.header .myNav ul {
  float: right;
}

/* line 547, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.header .myNav ul li {
  margin-left: 25px;
  display: inline-block;
  float: none;
}

/* line 551, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.header .myNav ul li a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .5px;
}

/* line 558, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.header .myNav ul li.search-btn a {
  background-color: #1fb8a6;
  padding: 7px 15px;
  display: inline-block;
  border-radius: 4px;
}

/* line 563, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.header .myNav ul li.search-btn a i {
  color: #ffffff;
  margin-right: 0;
  font-size: 13px;
}

/* line 575, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.home-banner {
  background-color: #242f81;
  height: 100vh;
}

/* line 578, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.home-banner .hb-caption {
  position: relative;
  z-index: 2;
}

/* line 581, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.home-banner .hb-caption h1 {
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
}

/* line 587, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.home-banner .hb-caption .hbc-actions a {
  padding: 10px 30px;
  background-color: #1fb8a6;
  display: inline-block;
  margin-top: 30px;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 10px;
}

/* line 595, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.home-banner .hb-caption .hbc-actions a:last-child {
  border: 1px solid #1fb8a6;
  background-color: transparent;
}

/* line 602, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.home-banner .hb-svg {
  position: absolute;
  right: 5%;
  bottom: 15%;
  z-index: 3;
}

/* line 607, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.home-banner .hb-svg svg {
  height: 55vh;
  width: 50vw;
}

/* line 614, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.home-banner .hb-svg .svg-animate.sa-fill-white {
  animation: fillWhite 3s infinite reverse;
  stroke: #ffffff;
  stroke-width: 1px;
  fill: #ffffff;
}

/* line 620, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.home-banner .hb-svg .svg-animate.sa-fill-red {
  animation: fillRed 3s infinite reverse;
  stroke: #da203e;
  stroke-width: 1px;
  fill: #da203e;
}

@keyframes fillWhite {
  0% {
    fill: transparent;
  }
  50% {
    fill: #ffffff;
  }
  100% {
    fill: transparent;
  }
}

@keyframes fillRed {
  0% {
    fill: transparent;
  }
  50% {
    fill: #da203e;
  }
  100% {
    fill: transparent;
  }
}

/* line 652, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.home-banner .hb-extra-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
}

/* line 660, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.section {
  margin-bottom: 70px;
}

/* line 662, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.section .sec-para {
  margin-bottom: 35px;
}

/* line 666, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.btn {
  padding: 7px 12px;
  display: inline-block;
}

/* line 671, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.breadcrumbBar {
  padding: 15px 0;
  height: 36vh;
  background-color: #242f81;
  color: #eceff6;
}

/* line 677, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.breadcrumbBar .mytable .table-cell {
  padding-bottom: 30px;
}

/* line 683, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.breadcrumbBar .bb-left .title h2 {
  margin-bottom: 7px;
  color: #ffffff;
}

/* line 690, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.breadcrumbBar .bb-right ul {
  float: right;
}

/* line 692, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.breadcrumbBar .bb-right ul li {
  padding-left: 25px;
}

/* line 700, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.myForm.ui.form input:not([type]),
.myForm.ui.form input[type=date],
.myForm.ui.form input[type=datetime-local],
.myForm.ui.form input[type=email],
.myForm.ui.form input[type=file],
.myForm.ui.form input[type=number],
.myForm.ui.form input[type=password],
.myForm.ui.form input[type=search],
.myForm.ui.form input[type=tel],
.myForm.ui.form input[type=text],
.myForm.ui.form input[type=time],
.myForm.ui.form input[type=url],
.myForm select {
  font-family: 'fMedium';
}

/* line 718, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.button-radio {
  position: relative;
  height: 40px;
  margin-bottom: 20px;
}

/* line 722, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.button-radio input[type="radio"] {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 40px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  cursor: pointer;
}

/* line 731, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.button-radio .bc-name {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  border: 1px solid #242f81;
  border-radius: 8px;
}

/* line 737, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.button-radio .bc-name span {
  color: #242f81;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 747, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.button-radio.active .bc-name {
  background-color: #242f81;
}

/* line 749, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.button-radio.active .bc-name span {
  color: #ffffff;
}

/* line 756, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.page-loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background: #1fb8a6;
  color: #ffffff;
  text-align: center;
}

/* line 763, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.page-loader .pl-content {
  position: absolute;
  font-size: 28px;
  max-width: 700px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 764, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.page-loader .pl-content img {
  display: inline-block;
}

/* line 767, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.page-loader .pl-content p {
  display: block;
}

/* line 784, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.theme-ffffff {
  color: #ffffff !important;
}

/* line 787, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.theme-ffffff-bg {
  background-color: #ffffff !important;
}

/* line 790, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.theme-eceff6 {
  color: #eceff6 !important;
}

/* line 793, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.theme-eceff6-bg {
  background-color: #eceff6 !important;
}

/* line 796, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.theme-da203e {
  color: #da203e !important;
}

/* line 799, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.theme-da203e-bg {
  background-color: #da203e !important;
}

/* line 802, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.theme-1fb8a6 {
  color: #1fb8a6 !important;
}

/* line 805, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.theme-1fb8a6-bg {
  background-color: #1fb8a6 !important;
}

/* line 808, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.theme-242f81 {
  color: #242f81 !important;
}

/* line 811, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.theme-242f81-bg {
  background-color: #242f81 !important;
}

/* line 814, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.theme-888888 {
  color: #888888 !important;
}

/* line 817, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.theme-888888-bg {
  background-color: #888888 !important;
}

/* line 820, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.theme-555555 {
  color: #555555 !important;
}

/* line 823, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.theme-555555-bg {
  background-color: #555555 !important;
}

/* line 826, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.theme-222222 {
  color: #222222 !important;
}

/* line 829, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.theme-222222-bg {
  background-color: #222222 !important;
}

/* line 832, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.theme-000000 {
  color: #000000 !important;
}

/* line 835, /Users/ankit/projects/inhouse/WDN/prod-wdn/src/assets/scss/style.scss */
.theme-000000-bg {
  background-color: #000000 !important;
}

/*# sourceMappingURL=../css/style.map */